html{ margin-top: 0!important; }


// Global
#menu-main-menu {

}

#menu-main-menu li{
	border: 0;
}

#menu-main-menu li a{
	color: #ffffff;
  	font-size: 18px;
  	font-weight: 200;
}

#menu-main-menu li.current_page_item a{
	color: #322f2f;
}

// Renewables link hack
.menu-item-25 a {
	color: red!important;
}

#menu-main-menu li.menu-item-25 a{
	//color: #71b546;
  	color: #42930F;
}

.horizontal-menu {
  padding-top: 15px;
  padding-bottom: 15px;
}

#menu-main-menu li {
  margin-right: 35px;
}

.accept {
	font-size: 9px;
}

// Footer

.footer-25 {
	font-size: 18px;
  border: solid 1px red;
}