/* ------------------------------------------------------------------*/
.codeLover .grid a {
	background-image:url(images/grid-main.png);
}
.codeLover .grid ul {
	padding: 0px;
	margin: 24px 0 0 4px;
	width: 208px;
	border: 1px solid #C0C0C0;
	border-radius: 8px;
	z-index: 999;
}
.codeLover .grid li {
	float: left;
	overflow: hidden;
	border-bottom: none;
}
.codeLover .grid li a {
	width: 48px;
	height: 48px;
	padding: 2px;
	text-indent: -9999px;
}
.codeLover .grid ul a:hover {
	background-color: transparent;
}
.codeLover .col1-1 a {
	background-image:url(images/grid-100.png);
}
.codeLover .col1-2 a {
	background-image:url(images/grid-50-50.png);
}
.codeLover .col1-3 a {
	background-image:url(images/grid-25-75.png);
}
.codeLover .col2-1 a {
	background-image:url(images/grid-75-25.png);
}
.codeLover .col2-2 a {
	background-image:url(images/grid-33-66.png);
}
.codeLover .col2-3 a {
	background-image:url(images/grid-66-33.png);
}
.codeLover .col3-1 a {
	background-image:url(images/grid-33-33-33.png);
}
.codeLover .col3-2 a {
	background-image:url(images/grid-25-50-25.png);
}
.codeLover .col3-3 a {
	background-image:url(images/grid-25-25-50.png);
}
.codeLover .col4-1 a {
	background-image:url(images/grid-50-25-25.png);
}
.codeLover .col4-2 a {
	background-image:url(images/grid-25x4.png);
}
.codeLover .col4-3 a {
	background-image:url(images/container.png);
}
/*------------------------------------------------------------------*/
.codeLover .h1-btn a {
	background-image:url(images/h1.png);
}
.codeLover .h2-btn a {
	background-image:url(images/h2.png);
}
.codeLover .h3-btn a {
	background-image:url(images/h3.png);
}
.codeLover .h4-btn a {
	background-image:url(images/h4.png);
}
.codeLover .h5-btn a {
	background-image:url(images/h5.png);
}
.codeLover .h6-btn a {
	background-image:url(images/h6.png);
}
/*------------------------------------------------------------------*/
.codeLover .div-btn a {
	background-image:url(images/div.png);
}
.codeLover .p-btn a {
	background-image:url(images/p.png);
}
.codeLover .ul-btn a {
	background-image:url(images/ul.png);
}
.codeLover .ol-btn a {
	background-image:url(images/ol.png);
}
.codeLover .img-btn a {
	background-image:url(images/img.png);
}
.codeLover .a-btn a {
	background-image:url(images/a.png);
}
/*------------------------------------------------------------------*/
.codeLover .php-btn a {
	background-image:url(images/php.png);
}
.codeLover .loop-btn a {
	background-image:url(images/wp-loop.png);
}
.codeLover .script-btn a {
	background-image:url(images/js.png);
}
.codeLover .style-btn a {
	background-image:url(images/style-btn.png);
}
.codeLover .fscreen-btn a {
	background-image:url(images/fullscreen.png);
}
.codeLover .preview-btn a {
	background-image:url(images/preview.png);
}