/* ------------------------------------------------------------------*/
.markItUp * {
	margin:0px; padding:0px;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	margin:5px 0;
}
.markItUpContainer  {
    background: #EEE;
	border:1px solid #C4C4C4;
	padding:0;
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpHeader {
    line-height: 60px;
    padding: 5px 5px 2px 5px;
    box-sizing: border-box;
    background: url(images/grid-bg.png);
}
.markItUpEditor {
	font:12px 'Courier New', Courier, monospace;
	padding:2px 5px;
	/*border:3px solid #3C769D;*/
	/*width:643px;*/
	/*height:320px;*/
	/*background:#FFF url(images/bg-editor.png) no-repeat;*/
	clear:both;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFFFFF;
	border:1px solid #3C769D;
	width:99.9%;
	height:500px;
}
.markItUpFooter {
	width:100%;
	cursor:n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px;
	height:6px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}

/***************************************************************************************/

/* first row of buttons */
.markItUpHeader ul li 	{
	list-style:none;
	display: inline-block;
	position:relative;
}
.markItUpHeader ul li ul{
	display:none;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(images/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 5px;
	width:1px;
	height:48px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}

/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;
	background:#F5F5F5;
	border:1px solid #3C769D;
	height:inherit;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#F5F5F5 url(images/submenu.png) no-repeat 100% 50%;
}

/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width: 48px;
    height: 48px;
	text-indent:-99999px;
	background-repeat:no-repeat;
	background-size: 48px 48px;
	padding:0 3px;
	margin:0px;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    position: relative;
}
.markItUpHeader ul a:hover {
    top: -1px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px;
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#3C769D;
}

/***************************************************************************************/

.codeLover .markItUpEditor {
	background: #303030;
	color: #00E700;
	margin-top: -7px;
    margin-bottom: -1px;
    border-bottom: 2px solid #fff;
}
/*.markdown .markItUpEditor {
	background-image:url(images/bg-editor-markdown.png);
}
.textile .markItUpEditor {
	background-image:url(images/bg-editor-textile.png);
}
.bbcode .markItUpEditor {
	background-image:url(images/bg-editor-bbcode.png);
}
.wiki .markItUpEditor,
.dotclear .markItUpEditor {
	background-image:url(images/bg-editor-wiki.png);
}*/
.codeLovertextarea {
	height:300px;
}
.codeLoverurl {
	background-color: #FFECEC !important;
	border-color: #E6A8A8 !important;
	color: #555 !important;
}
.codeLovernotes {
	height: 100px;
	background-color: #fffbcc !important;
	border-color: #e6db55 !important;
	color: #555 !important;
}
/****************************************************************************************/
.markItUpContainer.clfullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 32px;
    left: 0px;
    z-index: 99999;
    overflow: auto;
}
.fscreen-btn, .preview-btn {
    float: right;
}
.clresizer-wrapper {
    background: #303030;
    margin: 0 auto;
}
.clresizer-wrapper.clfullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 32px;
    left: 0;
    z-index: 99999;
}
.clresizer-wrapper.clfullscreen .clresizer {
    height: 90%;
}
.clresizer-wrapper.clfullscreen .clresizer iframe{
    height: 100%;
}
.clresizer {
    margin: 0 auto;
}
.clresizer-menu {
    width:100%;
    background: #181818;
    border-bottom: 2px solid #242424;
}
.clresizer-menu ul {
    list-style: none;
}
.clresizer-menu ul li {
    display: inline-block;
    line-height: 30px;
    padding: 0 18px;
    color: #5F5F5F;
    cursor: pointer;
}
.clresizer-menu ul li:hover {
    color:#fff;
}
div.markItUpContainer iframe {
	width: 100% !important;
	height: initial !important;
	min-height: 400px;
}
.codeLovertextarea{
	width:100%;
}