#logo-container {
  text-align: center;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #FFF;
    background-color: #AFAFAF;
    border-color: #AFAFAF;

}
.pagination > li > a, .pagination > li > span {
    color: #0f0f0f;
}

.element-title, .element-title a, .element-title a:hover, .element-title a:visited {
    text-indent: 10px;
}

a.recentlink {
  color: #020202;
}

.recentinner {
  border-bottom: 1px solid #EFEFEF;
}

.footerRow,
.footerRow .ult_social,
.horizontal-menu  {
  text-align:center !important;
}
.ult_social a {
  margin: 0px 10px;
}
.horizontal-menu {
  width: 100%;
}
.horizontal-menu ul li {
  float: none !important;
  display: inline;
}