@screen-xs : 1px;
@screen-sm : 2px;
@screen-md : 3px;
@screen-lg : 9999px;
@import "bootstrap";
@import "@{swatch}/variables.less";
@import "@{swatch}/bootswatch.less";
@import "../ultimatum/ultimatum";
