@screen-xs : 480px;
@screen-sm : 768px;
@screen-md : 992px;
@screen-lg : 1200px;
@import "bootstrap";
@import "@{swatch}/variables.less";
@import "@{swatch}/bootswatch.less";
@import "../ultimatum/ultimatum";
@import "../ultimatum/ultimatum-responsive";